.mw-360px {
    max-width: 360px;
}

.mw-720px {
    max-width: 720px;
}

.text-danger {
    color: #BB2D3B;
}

.border_bottom_6px {
    border-bottom: 6px solid #1F689E;
}

.navbar-brand,
.nav-link {
    font-weight: bold;
    color: #BBBBBB;
}

.nav-link.active,
.nav-link:hover,
.navbar-brand:hover {
    color: #1F689E !important;
}

.nav-link {
    text-transform: uppercase;
}

.btn-primary {
    background-color: #1F689E;
}

.fs-0 {
    font-size: 45px;
}

.fs-6 {
    font-size: 18px;
}

.bg-primary {
    background-color: #1F689E;
}

.w-100px {
    width: 100px;
}
