.header > .cover {
    display: block;
    height: 360px;

    background-image: url(/aquarium/public/img/cover.jpg);
    background-position: center;
}

.header .logo {
    height: 200px;
    width: auto;

    background-color: white;
    border-radius: 50%;

    position: relative;
    top: 120px;
}

.mw-360px {
    max-width: 360px;
}

.mw-720px {
    max-width: 720px;
}

.text-danger {
    color: #BB2D3B;
}

.text-success {
    color: ##157347;
}

.border-bottom-6px {
    border-bottom: 6px solid #1F689E;
}

.border-bottom-1px {
    border-bottom: 1px solid lightgray;
}

.navbar-brand,
.nav-link {
    font-weight: bold;
    color: #BBBBBB;
}

.nav-link.active,
.nav-link:hover,
.navbar-brand:hover {
    color: #1F689E !important;
}

.nav-link {
    text-transform: uppercase;
}

.btn-light {
    background-color: whitesmoke;
    border: 1px solid lightgray;
}

.btn-light.current {
    background-color: #1F689E;
    border: none;
    color: white;
}

.btn-primary {
    background-color: #1F689E;
}

.display {
    position: relative;
}

.display .caption {
    padding: 30px 50px;
    max-width: 810px;
    position: absolute;
    bottom: 30%;
    color: white;
}

@media (max-width: 992px)
{
    .display .caption {
        position: static;
        color: black;
    }
}

.featured {
    background-color: whitesmoke;
}

.text-black {
    color: black;
}

.bg-primary {
    background-color: #1F689E;
}

.sticker {
    position: fixed;
    right: 18px;
    bottom: 15px;
}
